@font-face {
  font-family: 'MontserratBold';
  src: url('../fonts/montserrat-bold-webfont.eot');
  src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-bold-webfont.woff') format('woff'),
  url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
  url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratRegular';
  src: url('../fonts/montserrat-regular-webfont.eot');
  src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-regular-webfont.woff') format('woff'),
  url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
  url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratLight';
  src: url('../fonts/montserrat-light-webfont.eot');
  src: url('../fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-light-webfont.woff') format('woff'),
  url('../fonts/montserrat-light-webfont.ttf') format('truetype'),
  url('../fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratHairLine';
  src: url('../fonts/montserrat-hairline-webfont.eot');
  src: url('../fonts/montserrat-hairline-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat-hairline-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-hairline-webfont.woff') format('woff'),
  url('../fonts/montserrat-hairline-webfont.ttf') format('truetype'),
  url('../fonts/montserrat-hairline-webfont.svg#montserrathairline') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensedRegular';
  src: url('../fonts/robotocondensed-regular-webfont.eot');
  src: url('../fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
  url('../fonts/robotocondensed-regular-webfont.woff') format('woff'),
  url('../fonts/robotocondensed-regular-webfont.ttf') format('truetype'),
  url('../fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aarti';
  src: url('../fonts/aarti-webfont.eot');
  src: url('../fonts/aarti-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/aarti-webfont.woff2') format('woff2'),
  url('../fonts/aarti-webfont.woff') format('woff'),
  url('../fonts/aarti-webfont.ttf') format('truetype'),
  url('../fonts/aarti-webfont.svg#aartinormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'deccan-rubyconf';
  src:url('../fonts/deccan-rubyconf.eot?-cnhev');
  src:url('../fonts/deccan-rubyconf.eot?#iefix-cnhev') format('embedded-opentype'),
  url('../fonts/deccan-rubyconf.ttf?-cnhev') format('truetype'),
  url('../fonts/deccan-rubyconf.woff?-cnhev') format('woff'),
  url('../fonts/deccan-rubyconf.svg?-cnhev#deccan-rubyconf') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'deccan-rubyconf';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rubyconflogo:before {
  content: "\e600";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-phone:before {
  content: "\f095";
}
.icon-smile-o:before {
  content: "\f118";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-bars:before {
  content: "\f0c9";
}

