/* Extra Small devices (smart phones, 480px and up) */
@media (max-width: $screen-xs-max) {

  h1{
    font-size: 30px;
    line-height: 40px;
  }

  h2{
    font-size: 20px;
  }

  h3, h4{
    font-size: 16px;
  }

  body{
    font-size: 16px;
  }

  .navbar{
    background-color: rgba(10, 11, 11, 0.8);
    z-index: 1002;
  }

  .logo-wrap-mobile{
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .logo-wrap{
    display: none;
  }

  .container-fluid > .navbar-header{
    margin: 0;
    padding: 9px 10px;
  }

  .navbar-toggle{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 9px 3px 10px;
    color: $alm-white;
    margin: 0;
  }

  .container-fluid > .navbar-collapse{
    margin: 0;
    border-top: none;
    padding: 0 10px;
    box-shadow: none;
    background-color: transparent;
    text-align: center;
  }

  .container-fluid{
    padding: 0;
  }

  .side-panel, .sec-home .side-panel, .sec-speakers .side-panel, .sec-schedule .side-panel, .sec-sponsors .side-panel{
    min-height: 240px;
    padding: 15px;
  }

  .main-content{
    padding: 15px;
    min-height: inherit;
  }

  .pati{
    bottom: 30px;
  }

  .sec-home .side-panel .pati{
    bottom: 30px;
  }

  .sec-home .main-content{
    text-align: center;
    min-height: inherit;
    padding: 50px 15px 15px;
  }

  .conf-title{
    font-size: 24px;
  }

  .conf-date{
    font-family: $font-MontserratRegular;
    font-size: 18px;
    margin-bottom: 40px;
  }

  .conf-tagline{
    font-size: 20px;
    margin-bottom: 40px;
  }

  .btn-primary{
    padding: 17px 44px;
    font-size: 18px;
  }

  .get-sponsors{
    font-size: 16px;
  }

  .sec-about .side-panel{
    min-height: 320px;
    padding: 15px;
  }

  .pati.learn_fun-pati{
    bottom: 110px;
  }

  .sec-about .main-content h1{
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .sec-about .dhamaal-wrap{
    position: inherit;
    bottom: inherit;
    margin-bottom: 15px;
  }

  .sec-speakers .main-content{
    padding: 15px;
    min-height: inherit;
  }

  .carousel-desktop{
    display: none;
  }

  .sec-speakers #carousel-mobile, .sec-speakers .carousel-mobile{
    display: block;
  }

  .sec-schedule .main-content h1{
    margin-bottom: 20px;
  }

  .sec-schedule .schedule-table{
    font-size: 14px;
  }

  .sec-schedule .talks-wrap{
    position: inherit;
    bottom: inherit;
  }

  .sec-schedule .schedule-table tr td{
    padding: 15px 0;
  }

  .sec-schedule .schedule-table tr td a{
    display: block;
    margin: 10px 0 0;
  }

  .sec-sponsors .download-link{
    top: 15px;
    right: 15px;
    font-size: 14px;
  }

  .sec-sponsors .partners-wrap{
    padding: 15px;
    height: auto;
    margin-bottom: 20px;
  }

  .sec-sponsors .partners-wrap .partners {
    width: auto;
    display: block;
    float: inherit;
    top: inherit;
    left: 50%;
    transform: translate(-50%, 0%);

    &:last-child{

      p{
        margin-bottom: 0;
      }
    }
  }

  .sec-sponsors .partners-wrap .partners p{
    margin-bottom: 30px;
  }

  .pati.getintouch-pati{
    bottom: 30px;
  }

  .sec-contact .main-content {
    background: #0A0B0B url("../images/bg-contact.jpg") 50% 0 no-repeat;
    background-size: cover;
  }

  .sec-contact .conatct-wrap{
    margin-bottom: 30px;
  }

  .sec-contact .conatct-wrap p{
    margin: 0 auto 10px;
    padding-bottom: 5px;
  }

  .sec-contact .call-wrap span{
    display: block;
    margin: 0 0 5px;
  }

  .sec-contact .footer-text{
    position: inherit;
    left: inherit;
    bottom: inherit;
    transform: translate(0%, 0%);
  }

/*changes made on 10/05/2017*/

.content-wrap{
  @include flex-direction(column);
  .side-panel{
    h1{
      top:60px;
    }
  }
  .pati{
    top: 140px;
  }
}

/*changes made on 10/05/2017*/


}



/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

  h1{
    font-size: 28px;
    line-height: 36px;
  }

  h2{
    font-size: 20px;
  }

  h3, h4{
    font-size: 16px;
  }

  body{
    font-size: 16px;
  }

  .navbar-nav li a{
    padding: 15px 10px;
  }

  .sec-home .side-panel .container-fluid{
    padding: 0;
  }

  .pati.registration-pati, .pati.learn_fun-pati, .pati.turn_right-pati, .pati.keep_quiet-pati, .pati.thankyou-pati, .pati.getintouch-pati{
    width: 160px;
    height: auto;
  }

  .conf-title{
    font-size: 42px;
  }

  .conf-date{
    font-size: 30px;
  }

  .conf-tagline{
    font-size: 26px;
  }

  .btn-primary{
    font-size: 22px;
    padding: 18px 48px;
  }

  .main-content{
    padding: 40px;
    min-height: inherit;
  }

  .sec-about .main-content h1{
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .sec-about .main-content p{
    margin-bottom: 20px;
  }

  .sec-about .dhamaal-wrap p{
    margin-bottom: 0;
  }

  .pati.learn_fun-pati{
    bottom: 150px;
  }

  .signboard-desc{
    width: 100%;
    left: 0;
    transform: translate(0%, 0%);
    padding: 15px;
  }

  .sec-speakers .main-content, .sec-schedule .main-content{
    padding: 30px;
  }

  .sec-speakers .main-content .thumbnail{
    width: 100%;
    padding-top: 5px;
  }

  .sec-speakers .main-content .caption{
    max-height: 360px;
  }

  .sec-schedule .schedule-table tr td{
    padding: 20px 0;
  }

  .sec-schedule .talks-wrap{
    position: inherit;
    bottom: inherit;
  }

  .sec-sponsors .download-link{
    font-size: 18px;
    right: 40px;
  }

  .sec-sponsors .partners-wrap{
    padding: 10px;
  }

  .sec-sponsors .partners-wrap .partners-logo.partner1{
    height: 50px;
  }

  .sec-contact .main-content{
    background: #0A0B0B url("../images/bg-contact.jpg") 100% 100% no-repeat;
    background-size: cover;
    padding: 30px;
  }

  .sec-contact .conatct-wrap p{
    margin-bottom: 10px;
    padding-bottom: 5px;
  }

  .sec-contact .call-wrap span{
    margin: 0 0 5px;
    display: block;
  }

  .sec-contact .connect-wrap{
    margin-bottom: 30px;
  }

  .sec-contact .footer-text{
    position: inherit;
    left: inherit;
    bottom: inherit;
    transform: translate(0%, 0%);
    padding: 0;
  }

  .pati.getintouch-pati{
    bottom: 30px;
  }
}



/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

  .main-content, .sec-speakers .main-content{
    padding: 40px;
  }

  .sec-home .side-panel .pati{
    bottom: 100px;
  }

  .conf-title{
    font-size: 60px;
  }

  .conf-date, .conf-tagline{
    font-size: 30px;
  }

  .sec-about .main-content h1{
    font-size: 34px;
  }

  .sec-about .dhamaal-wrap{
    margin-right: 40px;
  }

  .sec-speakers .main-content .thumbnail{
    width: 100%;
    padding-top: 5px;
  }

  .sec-speakers .main-content{
    padding: 25px 40px;
  }

  .sec-speakers .main-content .caption{
    max-height: 320px;
  }

  .sec-sponsors .download-link{
    right: 40px;
    font-size: 20px;
  }

  .sec-sponsors .partners-wrap{
    padding: 20px;
  }

  .sec-contact .main-content{
    padding: 40px 30px;
  }

  .sec-contact .call-wrap span{
    margin-left: 20px;
  }

  .sec-contact .footer-text{
    left: 30px;
    right: 30px;
    transform: translate(0%, 0%);
  }
}
