
// Colors

$dark-red: #A01D25;
$red: #CC2026;
$alm-black: #0A0B0B;
$dark-gray: #2C2C2C;
$mid-gray: #646B6B;
$light-gray: #93A3A4;
$alm-white: #FCFCFC;
$white: white;




// Fonts

$font-MontserratRegular: "MontserratRegular", Helvetica, Roboto, Arial, sans-serif;
$font-MontserratBold: "MontserratBold", Helvetica, Roboto, Arial, sans-serif;
$font-MontserratLight: "MontserratLight", Helvetica, Roboto, Arial, sans-serif;
$font-MontserratHairLine: "MontserratHairLine", Helvetica, Roboto, Arial, sans-serif;
$font-RobotoCondensedRegular: "RobotoCondensedRegular", Helvetica, Roboto, Arial, sans-serif;
$font-Aarti: "Aarti", Helvetica, Roboto, Arial, sans-serif;
