h1, h2, h3{
  font-family: $font-MontserratRegular;
  font-weight: normal;
  margin: 0;
}

h4, h5, h6{
  font-family: $font-MontserratLight;
  font-weight: normal;
  margin: 0;
}

h2{
  font-size: 24px;
}

h3, h4{
  font-size: 18px;
}

p{
  margin: 0;
}

body{
  font-family: $font-MontserratLight;
  font-size: 18px;
  color: $alm-black;
  background-color: $alm-black;
}

.navbar{
  position: fixed;
  margin-bottom: 0;
  min-height: 40px;
  border: none;
  right: 0;
  left: 0;
  background-color: rgba(10, 11, 11, 0.3);
}

.logo-wrap-mobile{
  display: none;

  a{
    font-size: 32px;
    color: $alm-white;

    &:hover, &:focus{
      text-decoration: none;
    }
  }
}

.navbar-nav{

  li{

    a{
      padding: 15px;
      font-size: 12px;
      font-family: $font-MontserratRegular;
      color: $dark-red;
      text-transform: uppercase;

      &:hover, &:focus{
        background-color: transparent;
        color: $alm-white;
      }
    }
  }
}

.sec-default{
  margin: 0;
}

.side-panel{
  position: relative;
  padding: 35px 10px;
  text-align: center;
  min-height: 400px;
  z-index: 1000;

  &.red{
    background-color: $dark-red;
  }

  &.black{
    background-color: $alm-black;
  }


  h1{
    color: $alm-white;
  }
}

.main-content{
  padding: 40px 70px;
  min-height: 400px;
}

.logo-wrap{
  text-align: center;

  a{
    font-size: 32px;
    color: $alm-white;

    &:hover, &:focus{
      text-decoration: none;
    }
  }
}

.sec-home{

  .main-content{
    background: $alm-black url("../assets/images/bg-home.jpg") 100% 100% no-repeat;
    background-size: cover;
    text-align: right;
    padding: 150px 10px 10px;
    min-height: 660px;
  }

  .side-panel{
    min-height: 660px;
    padding: 10px;

    .pati{
      bottom: 130px;
    }
  }
}

.conf-title{
  font-family: $font-MontserratBold;
  font-size: 72px;
  color: $alm-white;
}

.conf-date{
  font-family: $font-MontserratBold;
  font-size: 36px;
  color: $alm-white;
  margin-bottom: 50px;
}

.conf-tagline{
  font-family: $font-MontserratRegular;
  font-size: 36px;
  margin-bottom: 80px;
  color: $light-gray;
}

.btn-primary{
  background-color: $red;
  font-family: $font-MontserratRegular;
  border-color: $red;
  text-transform: uppercase;
  font-size: 24px;
  padding: 22px 59px;
  border-radius: 0;
  margin-bottom: 30px;

  &:hover, &:focus{
    background-color: $dark-red;
    border-color: $dark-red;
  }
}

.get-sponsors{
  font-size: 24px;
  color: $light-gray;
  margin-bottom: 45px;

  a{
    color: $red;
    text-transform: uppercase;

    &:hover, &:focus{
      color: $dark-red;
      text-decoration: none;
    }
  }
}

.pati{
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, 0%);

  &.registration-pati{
    width: 180px;
    height: 94px;
  }

  &.learn_fun-pati, &.turn_right-pati{
    width: 180px;
    height: 106px;
  }

  &.keep_quiet-pati{
    width: 152px;
    height: 106px;
  }

  &.thankyou-pati{
    width: 200px;
    height: 120px;
  }

  &.getintouch-pati{
    width: 200px;
    height: 106px;
    bottom: 80px;
  }
}

.signboard-desc{
  position: absolute;
  width: 220px;
  font-size: 12px;
  color: $mid-gray;
  left: 50%;
  bottom: 40px;
  transform: translate(-50%, 0%);
}

.sec-about{

  .main-content{
    position: relative;
    background: $alm-black url("../assets/images/bg-about.jpg") 100% 0 no-repeat;
    background-size: cover;
    min-height: 520px;

    h1{
      color: $dark-red;
      border-bottom: 1px solid $light-gray;
      padding-bottom: 28px;
      margin-bottom: 36px;
    }

    p{
      margin-bottom: 30px;
      line-height: 27px;

      strong{
        font-family: $font-MontserratRegular;
      }

      span{
        font-family: $font-Aarti;
        font-size: 24px;
      }
    }

    a{
      color: $red;

      &:hover, &:focus{
        color: $dark-red;
      }
    }
  }

  .side-panel{
    min-height: 520px;
  }

  .dhamaal-wrap{
    position: absolute;
    bottom: 40px;

    p{
      color: $mid-gray;
      margin-bottom: 0;

      &:first-child{
        font-family: $font-MontserratRegular;
      }
    }
  }
}

.sec-speakers{

  .main-content{
    background: $alm-black url("../assets/images/bg-speakers.jpg") 100% 100% no-repeat;
    background-size: cover;
    min-height: 666px;
    padding: 30px 70px;

    .thumbnail{
      width: 260px;
      padding-top: 30px;
      text-align: center;
      margin: 0 auto 20px;
      border-radius: 0;

      .speakers{
        width: 200px;
        height: auto;
        margin-bottom: 10px;
      }

      h4{
        margin-bottom: 5px;
      }

      p{
        font-family: $font-MontserratHairLine;
        font-size: 12px;
        margin-bottom: 10px;
        padding-top: 10px;
      }

    }

    .caption{
      max-height: 300px;
      overflow: scroll;
      padding: 5px;
    }

    .socialmedia-link{

      a{
        color: $red;
        padding: 0 5px;
        font-size: 18px;

        &:hover, &:focus{
          color: $dark-red;
          text-decoration: none;
        }
      }
    }

    .direction-arrow{
      font-size: 36px;
      color: $mid-gray;

      &:hover, &:focus{
        text-decoration: none;
      }
    }
  }

  .side-panel{
    min-height: 666px;
  }

  #carousel-mobile, .carousel-mobile{
    display: none;
  }

}

.sec-schedule{

  .main-content{
    background: $alm-black url("../assets/images/bg-schedule.jpg") 100% 100% no-repeat;
    background-size: cover;
    min-height: 556px;

    h1{
      color: $dark-red;
      margin-bottom: 36px;
    }
  }

  .side-panel{
    min-height: 556px;
  }

  .schedule-table{
    margin-bottom: 0;

    tr{

      td{
        position: relative;
        padding: 37px 0;
        border-top-color: $light-gray;
        text-align: center;

        &:first-child{
          text-align: left;
        }

        &:last-child{
          text-align: right;
        }

        a{
          color: $red;
          vertical-align: middle;
          margin-left: 18px;

          &:hover, &:focus{
            color: $dark-red;
            text-decoration: none;
          }
        }
      }
    }
  }

  .talks-wrap{
    position: absolute;
    bottom: 24px;

    strong{
      font-family: $font-MontserratRegular;
    }

    p{
      font-size: 14px;
      padding-top: 10px;
    }
  }
}

.sec-sponsors{

  .main-content{
    position: relative;
    background: $alm-black url("../assets/images/bg-sponsors.jpg") 100% 100% no-repeat;
    background-size: cover;
    min-height: 858px;

    h2{
      color: $light-gray;
      margin-bottom: 15px;
    }

    .sponsors-logo{
      width: auto;
      height: 120px;
      margin-bottom: 30px;
    }
  }

  .side-panel{
    min-height: 858px;
  }

  .partners-wrap{
    width: auto;
    height: 120px;
    background-color: $alm-white;

    .partners{
      position: relative;
      width: 33%;
      display: inline-block;
      float: left;
      text-align: center;
      top: 50%;
      transform: translate(0%, -50%);

      p{
        font-family: $font-MontserratHairLine;
        font-size: 12px;
        color: $mid-gray;
        text-transform: uppercase;
        padding-top: 5px;
      }
    }

    .partners-logo{
      display: block;
      width: auto;
      margin: 0 auto;

      &.partner1{
        height: 60px;
      }
    }
  }

  .download-link{
    position: absolute;
    top: 40px;
    right: 70px;
    color: $red;
    font-size: 24px;
    text-transform: uppercase;

    &:hover, &:focus{
      color: $dark-red;
      text-decoration: none;
    }
  }

}

.sec-contact{

  .main-content{
    background: $alm-black url("../assets/images/bg-contact.jpg") 0 -100px no-repeat;
    background-size: cover;
    text-align: center;
  }

  .conatct-wrap{
    text-align: center;

    p{
      width: 260px;
      margin: 0 auto 10px;
      padding-bottom: 15px;
      border-bottom: 1px solid $light-gray;

      i{
        color: $mid-gray;
        vertical-align: middle;
        margin-right: 5px;
      }
    }

    .mail{
      color: $red;
      margin-bottom: 30px;
      font-family: $font-MontserratRegular;
    }
  }

  .call-wrap{
    margin-bottom: 30px;

    span{
      font-family: $font-MontserratRegular;
      color: $red;
      margin-left: 50px;

      strong{
        font-family: $font-MontserratLight;
        color: $mid-gray;
        font-weight: normal;
      }
    }
  }

  .email-wrap{
    margin-bottom: 30px;
  }

  .conatct-wrap{

    a{
      color: $red;
      padding: 0 5px;

      &:hover, &:focus{
        color: $dark-red;
        text-decoration: none;
      }
    }
  }

  .footer-text{
    position: absolute;
    font-size: 12px;
    color: $mid-gray;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0%);

    a{
      color: $red;

      &:hover, &:focus{
        color: $dark-red;
        text-decoration: none;
      }
    }
  }
}
